a.restaurantHeader{
    font-family: monospace;
}
a:hover.restaurantHeader{
    font-weight: bold;
    font-family: cursive;
}
a:visited.restaurantHeader{
    color: #6565ee;
}
a:active.restaurantHeader{
    font-style: cursive;
    color: #aaaaaa;
    text-decoration: none;
}
div.restaurantHeader{
    text-align: center;
    font-size: 36px;
}
p.restaurantFooter{
    text-align: center;
}