th {
    background-color: grey;
}
div.album{
    background-image: url("https://upload.wikimedia.org/wikipedia/en/9/9c/MilesDavisKindofBlue.jpg");
    background-repeat: no-repeat;
    background-attachment: fix;
    background-position: center center;
    font-style: italic;
    width: 400px;
    height: 400px;
}
ul.band{
    font-style: italic;
}
li.band{
    font-style: italic;
}
span{
    font-family: 'Nothing You Could Do', cursive;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    background-color: lightblue;
}
